[project]
	description = Openstack Functional Test Shell.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Toure (Toure)
[access "refs/for/refs/*"]
	read = group user/Toure (Toure)
	push = group user/Toure (Toure)
	label-Code-Review = -2..+2 group user/Toure (Toure)
	label-Verified = -1..+1 group user/Toure (Toure)
	rebase = group user/Toure (Toure)
	removeReviewer = group user/Toure (Toure)
	submit = group user/Toure (Toure)
[access "refs/heads/*"]
	read = group user/Toure (Toure)
	create = group user/Toure (Toure)
	push = +force group user/Toure (Toure)
	pushMerge = group user/Toure (Toure)
[access "refs/tags/*"]
	push = +force group user/Toure (Toure)
	pushTag = group user/Toure (Toure)
	pushSignedTag = group user/Toure (Toure)
